.slider{
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }

  .image {
    width: 300px;
    height: 500px;
    border-radius: 10px;
  }

  .videoBox{
    width: 800px;
    height: 500px;
  }

  @media screen and (max-width: 960px){
    .videoBox{
      width: 300px;
      height: 500px;
    }
  }
